sphinx
sphinx-rtd-theme
sphinx-autodoc-typehints
pandas
numpy
torch
plotly
google-cloud-storage
sklearn
wandb
shap
scikit-learn>=1.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
