sphinx
sphinx-rtd-theme
sphinx-autodoc-typehints
pandas
numpy
torch
plotly
google-cloud-storage
sklearn
wandb
shap
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
